<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Repellat, laborum, sint, deserunt tenetur blanditiis totam minima non mollitia sapiente earum 
  voluptatibus eligendi quibusdam laboriosam soluta voluptate corrupti itaque molestias saepe.</p>
</div>